<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="marvellousWorks.practicalPattern.bridge" type="">
      <section name="customProducts" type=""/>
    </sectionGroup>
  </configSections>
  <marvellousWorks.practicalPattern.bridge>
    <customProducts>
      <products>
        <add name="control" type="">
          <formatters>
            <add name="formatter" type=""/>
          </formatters>
          <commands>
            <add name="command" type="">
              <sqlBuilders>
                <add name="builder" type=""
              </sqlBuilders>
              <connection>
                <add name="connection" type=""/>
              </connection>
            </add>
          </commands>
        </add>
      </products>
    </customProducts>
  </marvellousWorks.practicalPattern.bridge>
</configuration>