<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>… …</configSections>
  <marvellousWorks.practicalPattern.bridge>
    <customProducts>
      <products>
        <add name="product">
          <control><formatter/></control>
          <command><sqlBuilder/></command>
          <connection/>
        </add>
      </products>
    </customProducts>
  </marvellousWorks.practicalPattern.bridge>
</configuration>