<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="marvellousWorks.practicalPattern.bridge" type="">
      <section name="customProducts" type=""/>
    </sectionGroup>
  </configSections>
  <marvellousWorks.practicalPattern.bridge>
    <customProducts>
      <products>
        <add name="control" type="">
          <formatter/>
          <command>
            <sqlBuilder/>
            <connection/>
          </command>
        </products>
    </customProducts>
  </marvellousWorks.practicalPattern.bridge>
</configuration>