<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="marvellousWorks.practicalPattern.mediator" type="">
      <section name="orchestration" type=""/>
    </sectionGroup>
  </configSections>
  <marvellousWorks.practicalPattern.mediator>
    
    <!-- 定义可以被Mediator识别的对象 -->
    <connections>
      <add name="MailServer1" connectionString="192.168.0.4" provider=""/>
      <add name="FileServer" connectionString="\\192.168.0.4\shared" provider=""/>
      <add name="Sales" connectionString="Data Source = ..." provider=""/>
      <add name="Hr" connectionString="Data Source = ..." provider=""/>
    </connections>
    
    <orchestration>
      <!-- 每个Channel用于指导Mediator建立对应的协作关系-->
      <channels>
        <add source="MailServer1">  <!-- provider-->
          <targets>
            <!-- consumer-->
            <add name="FileServer1"/>
            <!-- consumer-->
            <add name="Sales"/>
          </targets>
        </add>
        <add source="Sales">
          <targets>
            <add name="Hr"/>
          </targets>
        </add>
      </channels>
    </orchestration>
    
  </marvellousWorks.practicalPattern.mediator>
</configuration>