<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="marvellousWorks.practicalPattern.chain" type="MarvellousWorks.PracticalPattern.ChainOfResponsibilityPattern.Configuration.CoRConfigurationSectionGroup, ChainOfResponsibilityPattern">
      <section name="channel" type="MarvellousWorks.PracticalPattern.ChainOfResponsibilityPattern.Configuration.ChannelConfigurationSection, ChainOfResponsibilityPattern"/>
    </sectionGroup>
  </configSections>
  <marvellousWorks.practicalPattern.chain>
    <channel>
      <handlers>
        <add type="MarvellousWorks.PracticalPattern.ChainOfResponsibilityPattern.Configuration.InternalHandler, ChainOfResponsibilityPattern"/>
        <add type="MarvellousWorks.PracticalPattern.ChainOfResponsibilityPattern.Configuration.MailHandler, ChainOfResponsibilityPattern"/>
        <add type="MarvellousWorks.PracticalPattern.ChainOfResponsibilityPattern.Configuration.DiscountHandler, ChainOfResponsibilityPattern"/>
        <add type="MarvellousWorks.PracticalPattern.ChainOfResponsibilityPattern.Configuration.RegularHandler, ChainOfResponsibilityPattern"/>
      </handlers>
    </channel>
  </marvellousWorks.practicalPattern.chain>
</configuration>