<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="marvellousWorks.practicalPattern.factoryMethod.customFactories" 
             type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <marvellousWorks.practicalPattern.factoryMethod.customFactories>
    <add 
      key="MarvellousWorks.PracticalPattern.FactoryMethod.Classic.IFactory, MarvellousWorks.PracticalPattern.FactoryMethod"
      value="MarvellousWorks.PracticalPattern.FactoryMethod.Classic.FactoryA, MarvellousWorks.PracticalPattern.FactoryMethod"/>
  </marvellousWorks.practicalPattern.factoryMethod.customFactories>
</configuration>