<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <httpModules>
      <add name="IPAddressModule" type="MarvellousWorks.PracticalPattern.WebServiceInterceptingFilter.WebSite.IPAddressModule"/>
      <add name="UrlModuel" type="MarvellousWorks.PracticalPattern.WebServiceInterceptingFilter.WebSite.UrlModule"/>
    </httpModules>
  </system.web>
</configuration>
