<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorks" providerName="System.Data.SqlClient"
         connectionString="Data Source = (local); Initial Catalog = AdventureWorks; 
         Integrated Security = SSPI"/>
  </connectionStrings>

  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" objectUri="RemotableType.rem"
          type="Test.Rem.Lib.RemObject, RemLib" />
      </service>
      <channels>
        <channel ref="http" port="9000">
          <formatter ref="soap"/>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>