<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name ="marvellousWorks.practicalPattern.proxyProcessHandler" 
             type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <marvellousWorks.practicalPattern.proxyProcessHandler>
    <add key="CryptoHandler" value="MarvellousWorks.PracticalPattern.ProxyPattern.Remote.Common.CryptoProcess"/>
    <add key="EncodeHandler" value="MarvellousWorks.PracticalPattern.ProxyPattern.Remote.Common.EncodeProcess"/>
    <add key="ValidateHandler" value="MarvellousWorks.PracticalPattern.ProxyPattern.Remote.Common.PrefixProcess"/>
  </marvellousWorks.practicalPattern.proxyProcessHandler>
  
  <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUser"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ServiceModelSamples/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUser"
                contract="IUser" name="WSHttpBinding_IUser">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>