<configuration>
  <configSections>
    <sectionGroup name="marvellousWorks.practicalPattern.common" type="MarvellousWorks.PracticalPattern.Common.Configuration.ConfigurationSourceGroup, MarvellousWorks.PracticalPattern.Common">
      <section name="objectBuilder" type="MarvellousWorks.PracticalPattern.Common.Configuration.ObjectBuilderConfigurationSource, MarvellousWorks.PracticalPattern.Common"/>
    </sectionGroup>
  </configSections>
  <marvellousWorks.practicalPattern.common>
    <objectBuilder type="MarvellousWorks.PracticalPattern.Common.TypeCreator, MarvellousWorks.PracticalPattern.Common"/>
  </marvellousWorks.practicalPattern.common>
</configuration>