<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="marvellousWorks.practicalPattern.visitorPattern"
				 type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<marvellousWorks.practicalPattern.visitorPattern>
		<add key="Employee" value="VisitCommonEmployee"/>
		<add key="Manager" value="VisitDepartmentManager"/>
	</marvellousWorks.practicalPattern.visitorPattern>
</configuration>